<a href="https://colab.research.google.com/github/JulioCesarMS/Python_course/blob/main/02.-%20Listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Colecciones en Python**

Hay cuatro tipos de datos de colección en el lenguaje de programación Python:

1.- Lista es una colección que está ordenada y es modificable. Permite duplicar
miembros.

2.- Tupla es una colección que está ordenada y es inmodificable. Permite miembros duplicados.

3.- Conjunto es una colección que no está ordenada ni indexada. No admite miembros duplicados. miembros duplicados.

4.- Diccionario es una colección que está ordenada* y es modificable. No hay miembros duplicados.

# **Listas**

Las listas se utilizan para almacenar múltiples elementos en una sola variable.
Las listas son uno de los $4$ tipos de datos incorporados en Python que se utilizan para almacenar colecciones de datos, los otros $3$ son Tuplas, Conjuntos y Diccionario, todos con diferentes cualidades y uso.

Las listas se crean utilizando corchetes:

**Ejemplo:**

Crear una lista:

mylist = ["manzana", "plátano", "cereza"]

**Elementos de la lista**

Los elementos de la lista están ordenados, son modificables y permiten valores duplicados. Los elementos de la lista están indexados, el primer elemento tiene índice $[0]$, el segundo elemento tiene índice $[1]$, etc.

**Ordenado**

Cuando decimos que las listas están ordenadas, significa que los elementos tienen un orden definido, y ese orden no cambiará. Si añades nuevos elementos a una lista, los nuevos elementos se colocarán al final de la lista.
Nota: Hay algunos métodos de lista que cambiarán el orden, pero en general: el orden de los elementos no cambiará.

**Modificable**

La lista es modificable, lo que significa que podemos cambiar, añadir y eliminar elementos en una lista después de haberla creado.

**Permitir duplicados**

Como las listas están indexadas, las listas pueden tener elementos con el mismo valor:

Ejemplo:

Las listas permiten valores duplicados:

In [ ]:
mylist = ["manzana", "plátano", "cereza", "manzana", "cereza"]
print(mylist)

## **Longitud de la lista**

Para determinar cuántos elementos tiene una lista, utilice la función len():

Ejemplo

In [ ]:
# Imprime el número de elementos de la lista:
mylist = ["manzana", "plátano", "cereza"]
print(len(mylist))

3

## **Elementos de la lista - Tipos de datos**

Los elementos de la lista pueden ser de cualquier tipo de datos:

Ejemplo:

In [ ]:
# Tipos de datos string, int y boolean:
list1 = ["manzana", "plátano", "cereza"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

## **type()**

Desde la perspectiva de Python, las listas se definen como objetos con el tipo de datos 'list':

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

## **El constructor list()**

También es posible utilizar el constructor list() al crear una nueva lista.

In [ ]:
mylist = list(("apple", "banana", "cherry"))
mylist

['apple', 'banana', 'cherry']

## **Acceso a elementos de la lista**

Los elementos de la lista están indexados y se puede acceder a ellos haciendo referencia al índice número de índice:

Ejemplo:

In [ ]:
# imprime el segundo elemento de la lista
mylist = ["apple", "banana", "cherry"]
print(mylist[1])

banana

**Nota**: El primer elemento tiene índice 0.

**Indexación negativa**

La indexación negativa significa empezar por el final.

-1 se refiere al último elemento, -2 se refiere al penúltimo elemento, etc.

Ejemplo:

Imprimir el último elemento de la lista:

In [ ]:
mylist = ["apple", "banana", "cherry"]
print(mylist[-1])

cherry

**Rango de índices**

Puede especificar un rango de índices especificando dónde empezar y dónde el rango.

Cuando se especifica un rango, el valor de retorno será una nueva lista con los especificados.

**Ejemplo:**

Devuelve el tercer, cuarto y quinto elemento:

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(mylist[2:5])

['cherry', 'orange', 'kiwi']

**Nota**: La búsqueda comenzará en el índice 2 (incluido) y terminará en el índice 5 (no incluido).

Recuerde que el primer elemento tiene el índice 0.

Al omitir el valor de inicio, el rango comenzará en el primer elemento:

**Ejemplo:**

Este ejemplo devuelve los elementos desde el principio hasta "kiwi", pero sin incluirlo:

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon",
"mango"]
print(mylist[:4])

['apple', 'banana', 'cherry', 'orange']

Al omitir el valor final, el rango llegará hasta el final de la lista:

**Ejemplo:**

Este ejemplo devuelve los elementos desde "cherry" hasta el final:

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon",
"mango"]
print(mylist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

**Rango de índices negativos**

Especifique los índices negativos si desea iniciar la búsqueda desde el final de la lista:

**Ejemplo:**

Este ejemplo devuelve los elementos desde "naranja" (-4) hasta, pero sin incluir "mango" (-1):

In [ ]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(mylist[-4:-1])

['orange', 'kiwi', 'melon']

**Comprobar si un elemento existe**

Para determinar si un elemento especificado está presente en una lista, utilice la palabra clave in:

**Ejemplo:**

Comprobar si "manzana" está presente en la lista:

In [ ]:
mylist = ["apple", "banana", "cherry"]

if "apple" in mylist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## **Cambiar elementos de la lista**


Para cambiar el valor de un elemento específico, consulte el número de índice:

**Ejemplo**

Cambie el segundo elemento:

In [1]:
mylist = ["apple", "banana", "cherry"]
mylist[1] = "strawberry"
print(mylist)

['apple', 'strawberry', 'cherry']

**Cambiar un rango de valores de elementos**

Para cambiar el valor de los elementos dentro de un rango específico, defina una lista con los nuevos valores, y refiérase al rango de números de índice donde quiere insertar los nuevos valores:

**Ejemplo:**

Cambie los valores "plátano" y "cereza" por los valores "grosella negra" y "sandía":

In [2]:
mylist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
mylist[1:3] = ["blackcurrant", "watermelon"]
print(mylist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

**Observación:**

Si inserta más elementos de los que reemplaza, los nuevos elementos se insertarán en el lugar especificado, y los elementos restantes se desplazarán en consecuencia:

**Ejemplo:**

Cambiar el segundo valor sustituyéndolo por dos nuevos valores:

In [3]:
mylist = ["apple", "banana", "cherry"]
mylist[1:2] = ["blackcurrant", "watermelon"]
print(mylist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

**Observación:**
Si inserta menos elementos de los que reemplaza, los nuevos elementos se insertarán donde que haya especificado, y los elementos restantes se desplazarán en consecuencia:

**Ejemplo:**

Cambiar el segundo y tercer valor sustituyéndolo por un valor:

In [5]:
mylist = ["apple", "banana", "cherry"]
mylist[1:3] = ["watermelon"]
print(mylist)

['apple', 'watermelon']

**Insertar elementos: método .insert()**

Para insertar un nuevo elemento de la lista, sin reemplazar ninguno de los valores existentes, podemos utilizar el método insert(). El método insert() inserta un elemento en el índice especificado:

**Ejemplo:**

Insertar "watermelon" como tercer elemento:

In [6]:
mylist = ["apple", "banana", "cherry"]
mylist.insert(2, "watermelon")
print(mylist)

['apple', 'banana', 'watermelon', 'cherry']

**Añadir elementos al final de la lista: método .append()**

Para añadir un elemento al final de la lista, utilice el método append():

**Ejemplo:**

Utilizar el método append() para añadir un elemento:

In [ ]:
mylist = ["apple", "banana", "cherry"]
mylist.append("orange")

**Insertar elementos en una posición específica: método .insert()**

Para insertar un elemento de la lista en un índice especificado, utilice el método insert(). El método insert() inserta un elemento en el índice especificado:

**Ejemplo:**

Insertar un elemento en la segunda posición:

In [7]:
mylist = ["apple", "banana", "cherry"]
mylist.insert(1, "orange")
print(mylist)

['apple', 'orange', 'banana', 'cherry']

**Extender la lista: método .exted()**

Para añadir elementos de otra lista a la lista actual utilice el método extend().

**Ejemplo:**

Añade los elementos de tropical a esta lista:

In [9]:
mylist1 = ["apple", "banana", "cherry"]
mylist2 = ["mango", "pineapple", "papaya"]
mylist1.extend(mylist2)
print(mylist1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

**Añadir cualquier iterable**

El método extend() no sólo añade listas, puede también añadir cualquier objeto iterable (tuplas, conjuntos, diccionarios, etc.).

**Ejemplo:**

Añadir elementos de una tupla a una lista:

In [10]:
mylist = ["apple", "banana", "cherry"]
mytuple = ("kiwi", "orange")
mylist.extend(mytuple)
print(mylist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

**Eliminar elementos de la lista**

Para eliminar un elemento específico de una lista usamos el método  remove().

**Ejemplo:**

Eliminar "banana":

In [12]:
mylist = ["apple", "banana", "cherry"]
mylist.remove("banana")
print(mylist)

['apple', 'cherry']

**Eliminar un índice específico**

El método pop() elimina el índice especificado.

**Ejemplo:**

Elimina el segundo elemento:

In [14]:
mylist = ["apple", "banana", "cherry"]
mylist.pop(1)
print(mylist)

['apple', 'cherry']

Si no se especifica el índice, el método pop() elimina el último elemento.

**Ejemplo:**

Elimina el último elemento:

In [15]:
mylist = ["apple", "banana", "cherry"]
mylist.pop()
print(mylist)

['apple', 'banana']

**Método del**

La palabra clave **del** también elimina el índice especificado:

**Ejemplo:**

Eliminar el primer elemento:

In [16]:
mylist = ["apple", "banana", "cherry"]
del mylist[0]
print(mylist)

['banana', 'cherry']

La palabra clave **del** también puede eliminar la lista por completo.

**Ejemplo:**

Borrar toda la lista:

In [20]:
mylist = ["apple", "banana", "cherry"]
del mylist

**Vaciar la lista**

Adiferencia del método anterior que elimina por completo la lista, el objeto como tal deja de existir, sin embargo, el método **clear()** vacía la lista. La lista aún permanece, pero no tiene contenido.

**Ejemplo:**

Limpiar el contenido de la siguiente lista.

In [21]:
mylist = ["apple", "banana", "cherry"]
mylist.clear()
print(mylist)

[]

##**Recorrer una lista en ciclo**

Puede recorrer los elementos de la lista mediante un ciclo for:

**Ejemplo:**

Imprimir todos los elementos de la lista, uno por uno:

In [22]:
mylist = ["apple", "banana", "cherry"]
for element in mylist:
  print(element)

apple
banana
cherry

**Recorrer los números de índice**

También puede recorrer los elementos de la lista consultando su número de índice. Utilice las funciones **range()** y **len()** para crear un iterable adecuado.

**Ejemplo:**

Imprime todos los elementos haciendo referencia a su número de índice:

In [23]:
mylist = ["apple", "banana", "cherry"]
for i in range(len(mylist)):
  print(mylist[i])

apple
banana
cherry

**Uso del ciclo while**

Puede recorrer los elementos de la lista utilizando un bucle while.
Utilice la función len() para determinar la longitud de la lista, luego comience en 0 y recorra los elementos de la lista consultando sus índices.

Recuerde aumentar el índice en 1 después de cada iteración.

**Ejemplo:**

Imprimir todos los elementos, utilizando un bucle while para recorrer todos los números de índice

In [24]:
mylist = ["apple", "banana", "cherry"]
i = 0
while i < len(mylist):
  print(mylist[i])
  i = i + 1

apple
banana
cherry

**Bucle utilizando la comprensión de la lista**

List Comprehension ofrece la sintaxis más corta para hacer bucles en las listas:

**Ejemplo:**

Un bucle for abreviado que imprimirá todos los elementos de una lista:

In [25]:
mylist = ["apple", "banana", "cherry"]

[print(x) for x in mylist]

apple
banana
cherry

[None, None, None]

## **List Comprehension**

La list comprehension ofrece una sintaxis más corta cuando se quiere crear una nueva lista basada en los valores de una lista existente.

**Ejemplo:**

A partir de una lista de frutas, se quiere crear una nueva lista que contenga sólo las frutas con la letra "a" en el nombre. Sin la comprensión de la lista tendrá que escribir una sentencia for con un prueba condicional en su interior:

In [28]:
# Ejemplo utilizando el ciclo for
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for fruit in fruits:
  if fruit[0] == 'a':
    newlist.append(fruit)

print(newlist)

['apple']

Con la comprensión de listas puedes hacer todo eso con una sola línea de código:

In [29]:
# Ejemplo mediante list comprehension
newlist = [fruit for fruit in fruits if fruit[0]=='a']
print(newlist)

['apple']

Veámos otro ejemplo, supongamos que deseamos obtener la suma total de cada elementom de "mylist".

In [1]:
# ejemplo 2
mylist2 = [[90, 92, 65, 71],
           [25, 20, 15, 90],
           [65, 130, 60, 75]]

In [2]:
# empleando ciclo FOR
total = []
for row in mylist2:
  total.append(sum(row))

print(total)

[318, 150, 330]

In [4]:
# empleando list comprehension
total_comp = [sum(row) for row in mylist2]
print(total_comp)

[318, 150, 330]

In [5]:
# empleando la función map
total_map = [*map(sum, mylist2)]
print(total_map)

[318, 150, 330]