<a href="https://colab.research.google.com/github/JulioCesarMS/Python_course/blob/main/04.-Diccionarios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Diccionario**

# Ejemplos:

1.- En el punto medio de los Juegos Olímpicos de Río, Estados Unidos tenía 70 medallas, Gran Bretaña tenía 38 medallas, China tenía 45 medallas, Rusia tenía 30 medallas y Alemania tenía 17 medallas. Crea un diccionario asignado a la variable **medal_count** con los nombres de los países como claves y el número de medallas que tenía el país como valor de cada clave.

In [ ]:
medal_count = {'United States':70,
              'Great Britain':38,
              'China':45,
              'Russia':30,
              'Germany':17}

In [ ]:
print(medal_count)

{'United States': 70, 'Great Britain': 38, 'China': 45, 'Russia': 30, 'Germany': 17}

2. Añade la cadena "hockey" como clave al diccionario sports_periods y asígnale el valor $3$. No reescribas todo el diccionario.

In [ ]:
sports_periods = {'baseball': 9, 'basketball': 4, 'soccer': 4, 'cricket': 2}

In [ ]:
sports_periods['hockey'] = 3

print(sports_periods)

{'baseball': 9, 'basketball': 4, 'soccer': 4, 'cricket': 2, 'hockey': 3}

3. El diccionario golds contiene información sobre cuántas medallas de oro ganó cada país en los Juegos Olímpicos de $2016$. Pero hoy, España ha ganado 2 medallas de oro más. Actualiza los oros para reflejar esta información.

In [ ]:
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27, "Spain": 19, "Canada": 22, "Argentina": 8, "England": 29}

In [ ]:
# Respuesta
golds['Spain'] = golds['Spain'] + 2 

print(golds)

{'Italy': 12, 'USA': 33, 'Brazil': 15, 'China': 27, 'Spain': 21, 'Canada': 22, 'Argentina': 8, 'England': 29}

4. Cree una lista de los países que están en el diccionario gold, y asigne esa lista a la variable nombre countries.

In [ ]:
golds = {"Italy": 12, "USA": 33, "Brazil": 15, "China": 27, "Spain": 19, "Canada": 22, "Argentina": 8, "England": 29}

In [ ]:
# Respuesta:
countries = list(golds.keys())

print(countries)

['Italy', 'USA', 'Brazil', 'China', 'Spain', 'Canada', 'Argentina', 'England']

5.- El diccionario total_golds contiene el número total de medallas de oro que los países han ganado a lo largo de la historia. Usa la mecánica del diccionario para encontrar el número de oros que ha ganado Chile, y asigna ese número a la variable chile_golds.

In [ ]:
total_golds = {"Italy": 114, "Germany": 782, "Pakistan": 10, "Sweden": 627, "USA": 2681, "Zimbabwe": 8, "Greece": 111, "Mongolia": 24, "Brazil": 108, "Croatia": 34, "Algeria": 15, "Switzerland": 323, "Yugoslavia": 87, "China": 526, "Egypt": 26, "Norway": 477, "Spain": 133, "Australia": 480, "Slovakia": 29, "Canada": 22, "New Zealand": 100, "Denmark": 180, "Chile": 13, "Argentina": 70, "Thailand": 24, "Cuba": 209, "Uganda": 7,  "England": 806, "Denmark": 180, "Ukraine": 122, "Bahamas": 12}

In [ ]:
# Respuesta:
chile_golds = total_golds['Chile']

print(chile_golds)

13

## Acumular varios resultados en un diccionario

1.- Divide la cadena en una lista de palabras, luego crea un diccionario que contenga cada palabra y el número de veces que aparece.

In [ ]:
sentence = "The dog chased the rabbit into the forest but the rabbit was too quick."

In [ ]:
# solución
words = sentence.split()
word_count = {}
for word in words:
    if word not in word_count:
        word_count[word] = 0
    word_count[word] = word_count[word] + 1

In [ ]:
print(word_count)

{'The': 1, 'dog': 1, 'chased': 1, 'the': 3, 'rabbit': 2, 'into': 1, 'forest': 1, 'but': 1, 'was': 1, 'too': 1, 'quick.': 1}

2.- El diccionario *travel* contiene el número de países dentro de cada contiente a los que Jackie ha viajado. Encuentra el número total de países en los que ha estado Jackie y guarda este número en la variable de nombre $total$.

In [ ]:
travel = {"Cancún" : 2, "Veracruz" : 3, "CDMX" : 2, "Monterrey" : 2, "Tijuana" : 1, "Tlaxcala" : 1, "Puebla" : 1, "Guanajuato" : 3}

In [ ]:
# Solución
total = 0
for city in travel:
    total = total + travel[city]

print("Número total de ciudades: {}".format(total))

Número total de ciudades: 15

3.- Crea un diccionario llamado $d$ que lleve la cuenta de todos los caracteres de la cadena $placement$ y determine cuántas veces se ha visto cada carácter. A continuación, encuentra la clave con el valor más bajo en este diccionario y asigna esa clave a *min_value*.

In [ ]:
placement = "Beaches are cool places to visit in spring however the Mackinaw Bridge is near. Most people visit Mackinaw later:"

In [ ]:
# Solución
d = {}
for char in placement:
    if char not in d:
        d[char] = 0
    d[char] = d[char] + 1
    
print(d)

{'B': 2, 'e': 12, 'a': 9, 'c': 5, 'h': 3, 's': 7, ' ': 18, 'r': 6, 'o': 6, 'l': 4, 'p': 4, 't': 6, 'v': 3, 'i': 10, 'n': 5, 'g': 2, 'w': 3, 'M': 3, 'k': 2, 'd': 1, '.': 1, ':': 1}

In [ ]:
# min_value
keys = list(d.keys())
min_value = keys[0]
for key in keys:
    if d[key] < d[min_value]:
        min_value = key

print(min_value)

d

## Extras:

1.- El diccionario Junior muestra el horario de un semestre de tercer año. La clave es el nombre del curso y el valor es el número de créditos. Encuentre el número total de créditos cursados este semestre y asígnelo a la variable créditos. ¡utilice la acumulación del diccionario!

In [ ]:
Junior = {'SI 206':4, 'SI 310':4, 'BL 300':3, 'TO 313':3, 'BCOM 350':1, 'MO 300':3}

In [ ]:
# Solución:
credits = 0
for value in Junior:
    credits = credits + Junior[value]
    
print(credits)

18

2.- Crear un diccionario, freq, que muestre cada carácter de la cadena str1 como clave y su frecuencia como valor.

In [ ]:
str1 = "peter piper picked a peck of pickled peppers"

In [ ]:
# Solución
freq = {}
for char in str1:
    if char not in freq:
        freq[char] = 0
    freq[char] = freq[char] + 1

print(freq)

{'p': 9, 'e': 8, 't': 1, 'r': 3, ' ': 7, 'i': 3, 'c': 3, 'k': 3, 'd': 2, 'a': 1, 'o': 1, 'f': 1, 'l': 1, 's': 1}

3.- Se proporciona una cadena guardada en la variable de nombre s1. Crea un diccionario llamado *counts* que contenga cada letra de s1 y el número de veces que aparece.

In [ ]:
s1 = "hello"

In [ ]:
# Solución:
counts = {}
for char in s1:
    if char not in counts:
        counts[char] = 0
    counts[char] = counts[char] + 1

print(counts)

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

4.- Crear un diccionario, freq_words, que contenga cada palabra de la cadena str1 como clave y su frecuencia como valor.

In [ ]:
str1 = "I wish I wish with all my heart to fly with dragons in a land apart"

In [ ]:
freq_words = {}
for word in str1.split():
    if word not in freq_words:
        freq_words[word] = 0
    freq_words[word] = freq_words[word] + 1

print(freq_words)

{'I': 2, 'wish': 2, 'with': 2, 'all': 1, 'my': 1, 'heart': 1, 'to': 1, 'fly': 1, 'dragons': 1, 'in': 1, 'a': 1, 'land': 1, 'apart': 1}

5.- Crea un diccionario llamado wrd_d a partir de la cadena *sent*, de forma que la clave sea una palabra y el valor sea cuántas veces has visto esa palabra.

In [ ]:
sent = "Singing in the rain and playing in the rain are two entirely different situations but both can be good"

In [ ]:
wrd_d = {}
for word in sent.split():
    if word not in wrd_d:
        wrd_d[word] = 0
    wrd_d[word] = wrd_d[word] + 1

print(wrd_d)

{'Singing': 1, 'in': 2, 'the': 2, 'rain': 2, 'and': 1, 'playing': 1, 'are': 1, 'two': 1, 'entirely': 1, 'different': 1, 'situations': 1, 'but': 1, 'both': 1, 'can': 1, 'be': 1, 'good': 1}

6.- Crea el diccionario de caracteres que muestra cada carácter de la cadena sally y su frecuencia. A continuación, encuentra la letra más frecuente en base al diccionario. Asigna esta letra a la variable best_char.

In [ ]:
sally = "sally sells sea shells by the sea shore"

In [ ]:
# Primera parte
characters = {}
for char in sally:
    if char not in characters:
        characters[char] = 0
    characters[char] = characters[char] + 1
print(characters)

{'s': 8, 'a': 3, 'l': 6, 'y': 2, ' ': 7, 'e': 6, 'h': 3, 'b': 1, 't': 1, 'o': 1, 'r': 1}

In [ ]:
# second part : best_char
keys = list(characters.keys())
best_char = keys[0] 
for key in keys:
    if characters[key] > characters[best_char]:
        best_char = key
print(best_char)

s

7.- Encuentra la letra menos frecuente. Crea el diccionario caracteres que muestra cada carácter de la cadena sally y su frecuencia. Luego, encuentra la letra menos frecuente de la cadena y asigna la letra a la variable worst_char.

In [ ]:
sally = "sally sells sea shells by the sea shore and by the road"

In [ ]:
# Solución:
# first part: the ferquency
characters = {}
for char in sally:
    if char not in characters:
        characters[char] = 0
    characters[char] = characters[char] + 1
print(characters)

{'s': 8, 'a': 5, 'l': 6, 'y': 3, ' ': 11, 'e': 7, 'h': 4, 'b': 2, 't': 2, 'o': 2, 'r': 2, 'n': 1, 'd': 2}

In [ ]:
# second part : best_char
keys = list(characters.keys())
worst_char = keys[0] 
for key in keys:
    if characters[key] < characters[worst_char]:
        worst_char = key
print(worst_char)

n

8.- Crea un diccionario llamado letter_counts que contenga cada letra y el número de veces que aparece en la string1. Reto: Las letras no deben contarse por separado como mayúsculas y minúsculas. En cambio, todas deben contarse como minúsculas.

In [ ]:
string1 = "There is a tide in the affairs of men, Which taken at the flood, leads on to fortune. Omitted, all the voyage of their life is bound in shallows and in miseries. On such a full sea are we now afloat. And we must take the current when it serves, or lose our ventures."

In [ ]:
# fist part : 
letter_counts = {}
for letter in string1.lower():
    if letter not in letter_counts:
        letter_counts[letter] = 0
    letter_counts[letter] = letter_counts[letter] + 1
print(letter_counts)

{'t': 19, 'h': 11, 'e': 29, 'r': 12, ' ': 53, 'i': 14, 's': 15, 'a': 17, 'd': 7, 'n': 15, 'f': 9, 'o': 17, 'm': 4, ',': 4, 'w': 6, 'c': 3, 'k': 2, 'l': 11, 'u': 8, '.': 4, 'v': 3, 'y': 1, 'g': 1, 'b': 1}

9.- Crea un diccionario llamado low_d que lleve la cuenta de todos los caracteres de la cadena p y anote cuántas veces se ha visto cada carácter. Asegúrate de que no haya repeticiones de caracteres como claves, de forma que "T" y "t" se vean ambas como una "t".

In [ ]:
p = "Summer is a great time to go outside. You have to be careful of the sun though because of the heat."

In [ ]:
# Solución:
low_d = {}
for char in p.lower():
    if char not in low_d:
        low_d[char] = 0
    low_d[char] = low_d[char] + 1
print(low_d)

{'s': 5, 'u': 7, 'm': 3, 'e': 12, 'r': 3, ' ': 20, 'i': 3, 'a': 6, 'g': 3, 't': 9, 'o': 8, 'd': 1, '.': 2, 'y': 1, 'h': 6, 'v': 1, 'b': 2, 'c': 2, 'f': 3, 'l': 1, 'n': 1}