<a href="https://colab.research.google.com/github/JulioCesarMS/Python_course/blob/main/Introducci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción

## Variables en python

Las variables son contenedores para almacenar valores de datos.

**Creación de variables**

- Python no tiene ningún comando para declarar una variable.
- Una variable se crea en el momento en que se le asigna un valor por primera vez.

In [ ]:
x = 5
print(x)

5

In [ ]:
y = "Juan"
print(y)

Juan

**Casting**

Si se quiere especificar el tipo de datos de una variable, se puede hacer con
casting.

In [ ]:
# x será '3'
x = str(3)
print(x)

3

In [ ]:
# x será 3
y = int(3)
print(y)

3

In [ ]:
# x será 3.0
z = float(3)
print(z)

3.0

**Obtener el tipo**

Puedes obtener el tipo de datos de una variable con la función type().

In [ ]:
x = 5
print(type(5))

<class 'int'>

In [ ]:
y = 'Juan'
print(type(y))

<class 'str'>

In [ ]:
z <- 3.0
print(type(z))

<class 'float'>

**¿Comillas simples o dobles?**

Las variables de cadena pueden declararse utilizando comillas simples o dobles:

In [ ]:
x = "Juan"
print(x)

Juan

In [ ]:
y = 'Juan'
print(y)

Juan

**Sensible a las mayúsculas y minúsculas**

Los nombres de las variables distinguen entre mayúsculas y minúsculas.

In [ ]:
# observamos que no se sobreescribe a
a = 4
A = "Sally"
print(A)

Sally

**Nombres de variables**

Una variable puede tener un nombre corto (como x e y) o un nombre más descriptivo (edad, nombre del coche, volumen_total). Reglas para las variables de Python:
* Un nombre de variable debe comenzar con una letra o el carácter de subrayado
* Un nombre de variable no puede empezar por un número
* Un nombre de variable sólo puede contener caracteres alfanuméricos y
guiones bajos (A-z, 0-9 y _ )
* Los nombres de las variables distinguen entre mayúsculas y minúsculas (edad, Edad, y EDAD son tres variables diferentes)

In [ ]:
# variables permitidas
myvar = "Juan"
my_var = "Juan"
_my_var = "Juan"
myVar = "Juan"
MYVAR = "Juan"
myvar2 = "Juan"

**Nombres de variables con varias palabras**

Los nombres de variables con más de una palabra pueden ser difíciles de leer.
Hay varias técnicas que puedes utilizar para hacerlos más legibles:


- **Camel case**

Cada palabra, excepto la primera, comienza con una letra mayúscula:

**myVariableName = "Juan"**

- **Pascal case**

Cada palabra comienza con una letra mayúscula:

**MyVariableName = "Juan"**

- **Snake case**

Cada palabra está separada por un carácter de subrayado:

**mi_variable_name = "Juan"**

# Asignación de multiples valores a múltiples variables

In [ ]:
x, y, z = "Manzana", "Naranja", "Mango"

In [ ]:
print(x)
print(y)
print(z)

Manzana
Naranja
Mango

## Asignación de un valor a múltiples variables

In [ ]:
x=y=z="Manzana"

In [ ]:
print(x)
print(y)
print(z)

Manzana
Manzana
Manzana

# **Operadores en python**

Python divide los operadores en los siguientes grupos:

- Operadores aritméticos
- Operadores de asignación
- Operadores de comparación
- Operadores lógicos
- Operadores de identidad
- Operadores de pertenencia
- Operadores a nivel de bits

## Operadores aritméticos

Los operadores aritméticos se utilizan con valores numéricos para realizar operaciones matemáticas comunes:

Operador  | Nombre          | Ejemplo
      --- |  ---            | ---
+         | Adición         | x + y
-         | Sustracción     | x - y
*         | Multiplicación  | x * y
/         | Division        | x / y
%         | Módulo          | x % y
**        | Exponente       | x \** y
//        | División entero | x // y

## Operadores de asignación

Los operadores de asignación se utilizan para asignar valores a las variables:

Operador  | Ejemplo          | Lo mismo que
      --- |  ---             | ---
  =       | x = 5            | x = 5
+=        | x += 3           | x = x + 3
-=        | x -= 3           | x = x - 3
*=        | x *= 3           | x = x * 3
/=        | x /= 3           | x = x / 3
%=        | x %= 3           | x = x % 3
//=       | x //= 3          | x = x // 3
**=       | x **= 3          | x = x ** 3
&=        | x &= 3           | x = x & 3
\|=       | x \|= 3          | x = x \| 3
^=        | x ^= 3           | x = x ^ 3
>>=       | x >>= 3          | x = x >> 3
<<=       | x <<= 3          | x = x << 3

## Operadores de Identidad

Los operadores de identidad se utilizan para comparar los objetos, no si son iguales, sino si son realmente el mismo objeto, con la misma ubicación de memoria:

Operador  | Nombre                                                    | Ejemplo
      --- |  ---                                                      | ---
  is      | Devuelve True si ambas variables son el mismo objeto      | x is y
  is not  | Devuelve False si ambas variables no son el mismo objeto  | x is not y

## Operadores de pertenencia

Los operadores de pertenencia se utilizan para comprobar si una secuencia se presenta en un objeto:

Operador  | Nombre                                                    | Ejemplo
      --- |  ---                                                      | ---
   in     | Devuelve True si una secuencia con el valor especificado está presente en el objeto  |  x in y
   not in | Devuelve False si una secuencia con el valor especificado no está presente en el objeto  |  x not in y

## Operadores de comparación

Los operadores de comparación se utilizan para comparar dos valores:

Operador  | Nombre                                                    | Ejemplo
      --- |  ---                                                      | ---
==        | Igual                                                     | x == y
!=        | No es igual                                               | x != y
>         | Mayor que                                                 | x > y
<         | Menor que                                                 | x < y
>=        | Mayor o igual que                                         | x >= y
<=        | Menor o igual que                                         | x <= y

## Operadores lógicos

Los operadores lógicos se utilizan para combinar sentencias condicionales:

Operador  | Nombre                                                    | Ejemplo
      --- |  ---                                                      | ---
and       | Devuelve True si ambas expresiones son verdaderas        | x < 5 and x < 10
or        | Devuelve True si una de ambas expresiones es verdaderas  | x < 5 or x < 4
not       | Invierte el resultado, devuelve Falso si el resultado es verdadero | not(x < 5 and x < 10)

## Operadores de bit a bit

Los operadores bit a bit se utilizan para comparar números (binarios):

  Operador  | Nombre                                              | Ejemplo
      --- |  ---                                                  | ---
&         |  AND                                                  | Establece cada bit a 1 si ambos bits son 1
 | OR                                                    | Establece cada bit a 1 si uno de ambos bits es 1
^         | XOR                                                   | Establece cada bit a 1 si solo uno de ambos bits es 1
~         | NOT                                                   | Invierte todos los bits
<<        | Cero relleno a la izquierda                           | Desplazamiento a la izquierda empujando ceros desde la derecha y dejando caer los bits más a la izquierda de
>>        | Cambio de signo a la derecha                          |  Desplazar a la derecha empujando copias del bit más a la izquierda desde la izquierda, y dejar los bits más a la derecha

## Tipos de datos 

Las variables pueden almacenar datos de diferentes tipos, y diferentes tipos pueden hacer diferentes cosas.
Python tiene los siguientes tipos de datos incorporados por defecto, en estas categorías:

 Descripción  | Tipo  |                                           
      ---     |  ---    |                                              
Tipo texto    | str   |
Tipo numérico | int, float, complex|
Tipo secuencia| list, tuple, range |
Tipo mapeo    | dict
Tipo conjunto | set, frozenset
Tipo booleano | bool
Binary types  | bytes, bytearray, memoryview



You can get the data type of any object by using the type() function:

In [ ]:
# Ejemplo
x = 5
print(type(x))

<class 'int'>

En Python, el tipo de datos se establece cuando se asigna un valor a una variable:

Ejemplo                     |                 Tipo                                               
      ---                  |  ---    | 
x = "Hello World"          | str     |
x = 20                            | int
x = 20.5                          | float
x = 1j                            | complex
x = ["apple", "banana", "cherry"] | list
x = ("apple", "banana", "cherry") | tuple
x = range(6)                      | range
x = {"name" : "John", "age" : 36} | dict
x = {"apple", "banana", "cherry"} | set
x = frozenset({"apple", "banana", "cherry"}) | frozenset
x = True                                     | bool
x = b"Hello"                                 | bytes
x = bytearray(5)                             | bytearray
x = memoryview(bytes(5))                     | memoryview

In [ ]:
# Ejemplos
x = 1 # int
y = 2.8 # float
z = 1j # complex

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**Int**

Int, es un número entero, positivo o negativo, sin decimales, de
longitud ilimitada.

In [ ]:
# ejemplos
x = 1
y = 35656222554887711
z = -3255522

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**Float**

Número de punto flotante es un número, positivo o negativo que contiene uno o más decimales.

In [ ]:
x = 1.10
y = 1.0
z = -35.59

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Complejos**

Los números complejos se escriben con una "j" como parte imaginaria:

In [ ]:
x = 3+5j
y = 5j
z = -5j

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Conversión**

Se puede convertir de un tipo a otro con los métodos int(), float() y
complex():

In [ ]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

In [ ]:
# Convierte a flotante 
a = float(x)
# Convierte a entero
b = int(y)
# Convierte a complejo
c = complex(x)

In [ ]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

**Strings**

Las cadenas en python se rodean de comillas simples o dobles comillas.

'hello' es lo mismo que "hello".

Puedes mostrar un literal de cadena con la función print():

In [ ]:
print("Hello")
print('Hello')

Hello
Hello

## **Strings in python**

Las cadenas (strings) en python se rodean de comillas simples o dobles
comillas.

In [ ]:
a = "Hello"
print(a)

Hello

 **Strings Multilinea**

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**Las cadenas son arreglos**

Como muchos otros lenguajes de programación populares, las cadenas en Python son
matrices de bytes que representan caracteres Unicode.
Sin embargo, Python no tiene un tipo de datos de caracteres, un carácter es simplemente una cadena con una longitud de 1.
Los corchetes se pueden utilizar para acceder a los elementos de la cadena.

In [ ]:
a = "Hello, World!"
print(a[1])

e

In [ ]:
# iteración de una cadena
for x in "banana":
  print(x)

b
a
n
a
n
a

 **Longitud de un string**

In [ ]:
a = "Hello, World!"
print(len(a))

13

**Comprobar cadena**

Para comprobar si una determinada frase o carácter está presente en una cadena, podemos utilizar la palabra clave in.

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

**Comprobar si NO**

Para comprobar si una determinada frase o carácter **NO** está presente en una cadena, podemos utilizar la palabra clave **not in**.

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

## **Slicing Strings**

Puede devolver un rango de caracteres utilizando la sintaxis de slicing.
Especifique el índice inicial y el índice final, separados por dos puntos, para devolver una parte de la cadena.

Nota: El primer carácter comienza en cero.

In [ ]:
b = "Hello, World!"
print(b[7:])

World!

In [ ]:
# slice desde el inicio
b = "Hello, World!"
print(b[:5])

Hello

In [ ]:
# slice hasta el final de la cadena
b = "Hello, World!"
print(b[2:])

llo, World!

In [ ]:
# indices negativos
b = "Hello, World!"
print(b[-5:-2])

orl

**Modificación de strings**

In [ ]:
# Mayúsculas
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [ ]:
# Minúsculas
a = "Hello, World!"
print(a.lower())

hello, world!

**Remover espacios en blanco**

El espacio en blanco es el espacio antes y/o después de un texto, y en ocasiones se desean eliminar los espacios en blanco.

**Método Strip()**

El método strip() elimina cualquier espacio en blanco del principio o del final.

In [ ]:
a = " Hello, World! "
print(a.strip())

Hello, World!

 
 **Remplazando una cadena.**

 El método replace() reemplaza una cadena por otra.

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

**Dividir una cadena**

El método split() devuelve una lista en la que el texto entre el separador especificado se convierte en los elementos de la lista.

In [ ]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

## **Concatenación de cadenas**

Para concatenar, o combinar, dos cadenas se puede utilizar el operador +.

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [ ]:
# agregando espacio en blanco
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Formato cadena**

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
# multiples formatos
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

**Carácter de escape**

Para insertar caracteres ilegales en una cadena, utilice un carácter de escape.
Un carácter de escape es una barra invertida "\" seguida del carácter que desea
insertar.

Código                     |                 Resultado                                              
      ---                  |  ---    | 
\\'                         |  
\\\                         |  Barra invertida
\n                         |  Nueva línea
\r                         |  
\t                         |  Tabular
\b                         |  Espacio en blanco
\f                         |  Form feed
\ooo                       |  Octal value
\xhh                       |  Hex value

In [ ]:
txt = "We are the so-called \" Vikings \"from the north."
print(txt)

We are the so-called " Vikings "from the north.

## **Métodos de cadenas**


Método   |  Descripción  | 
     --- | --- | 
*capitalize()* | Convierte el primer carácter en mayúsculas
*casefold()*   | Convierte la cadena en minúsculas
*center()*     | Devuelve una cadena centrada
*count()*      | Devuelve el número de veces que un valor especificado aparece en una cadena
*encode()*     | Devuelve una versión codificada de la cadena
*endswith()*   | Devuelve true si la cadena termina con el valor especificado
*expandtabs()*| Establece el tamaño del tabulador de la cadena
*find()*     | Busca en la cadena un valor especificado y devuelve la posición en la que se ha encontrado
*format()*    | Formatea los valores especificados en una cadena
*format_map()*  | Formatea los valores especificados en una cadena
*index()*       | Busca en la cadena un valor especificado y devuelve la posición en la que se ha encontrado
*isalnum()*     | Devuelve True si todos los caracteres de la cadena son alfanuméricos
*isalpha()*     | Devuelve True si todos los caracteres de la cadena son alfanuméricos
*isdecimal()*   | Devuelve True si todos los caracteres de la cadena son decimales
*isdigit()*     | Devuelve True si todos los caracteres de la cadena son dígitos
*isidentifier()*| Devuelve True si la cadena es un identificador
*islower()*     | Devuelve True si todos los caracteres de la cadena son minúsculas
*isnumeric()*   | Devuelve True si todos los caracteres de la cadena son numéricos
*isprintable()* | Devuelve True si todos los caracteres de la cadena son imprimibles
*isspace()*     | Devuelve True si todos los caracteres de la cadena son espacios en blanco
*istitle()*     | Devuelve True si la cadena sigue las reglas de un título
*isupper()*     | Devuelve True si todos los caracteres de la cadena son mayúsculas
*join()*        | Une los elementos de un iterable al final de la cadena
ljust()*       | Devuelve una versión justificada a la izquierda de la cadena
*lower()*       | Convierte una cadena en minúsculas
*lstrip()*      | Devuelve una versión recortada a la izquierda de la cadena
*maketrans()*   | Devuelve una tabla de traducción que se utilizará en las traducciones
*partition()*   | Devuelve una tupla en la que la cadena está dividida en tres partes
*replace()*     | Devuelve una cadena en la que un valor especificado se sustituye por un valor especificado
*rfind()*         | Busca en la cadena un valor especificado y devuelve la última posición de donde se encontró
*zfill()*         | Rellena la cadena con un número especificado de valores 0 al principio
*rindex()*        | Busca en la cadena un valor especificado y devuelve la última posición de donde se encontró
*rjust()*         | Devuelve una versión justificada a la derecha de la cadena
*rpartition()*    | Devuelve una tupla en la que la cadena está dividida en tres partes
*rsplit()*        | Divide la cadena en el separador especificado y devuelve una lista
*rstrip()*        | Devuelve una versión recortada a la derecha de la cadena
*split()*         | Divide la cadena en el separador especificado y devuelve una lista
*splitlines()*    | Divide la cadena en los saltos de línea y devuelve una lista
*startswith()*    | Devuelve true si la cadena empieza por el valor especificado
*strip()*         | Devuelve una versión recortada de la cadena
*swapcase()*      | Intercambia las mayúsculas y minúsculas y viceversa
*title()*         | Convierte el primer carácter de cada palabra en mayúsculas
*translate()*     | Devuelve una cadena traducida
*upper()*         | Convierte una cadena en mayúsculas