<a href="https://colab.research.google.com/github/JulioCesarMS/Python_course/blob/main/Introducci%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción

## Variables en python

Las variables son contenedores para almacenar valores de datos.

**Creación de variables**

- Python no tiene ningún comando para declarar una variable.
- Una variable se crea en el momento en que se le asigna un valor por primera vez.

In [ ]:
x = 5
print(x)

5

In [ ]:
y = "Juan"
print(y)

Juan

**Casting**

Si se quiere especificar el tipo de datos de una variable, se puede hacer con
casting.

In [ ]:
# x será '3'
x = str(3)
print(x)

3

In [ ]:
# x será 3
y = int(3)
print(y)

3

In [ ]:
# x será 3.0
z = float(3)
print(z)

3.0

**Obtener el tipo**

Puedes obtener el tipo de datos de una variable con la función type().

In [ ]:
x = 5
print(type(5))

<class 'int'>

In [ ]:
y = 'Juan'
print(type(y))

<class 'str'>

In [ ]:
z <- 3.0
print(type(z))

<class 'float'>

**¿Comillas simples o dobles?**

Las variables de cadena pueden declararse utilizando comillas simples o dobles:

In [ ]:
x = "Juan"
print(x)

Juan

In [ ]:
y = 'Juan'
print(y)

Juan

**Sensible a las mayúsculas y minúsculas**

Los nombres de las variables distinguen entre mayúsculas y minúsculas.

In [ ]:
# observamos que no se sobreescribe a
a = 4
A = "Sally"
print(A)

Sally

**Nombres de variables**

Una variable puede tener un nombre corto (como x e y) o un nombre más descriptivo (edad, nombre del coche, volumen_total). Reglas para las variables de Python:
* Un nombre de variable debe comenzar con una letra o el carácter de subrayado
* Un nombre de variable no puede empezar por un número
* Un nombre de variable sólo puede contener caracteres alfanuméricos y
guiones bajos (A-z, 0-9 y _ )
* Los nombres de las variables distinguen entre mayúsculas y minúsculas (edad, Edad, y EDAD son tres variables diferentes)

In [ ]:
# variables permitidas
myvar = "Juan"
my_var = "Juan"
_my_var = "Juan"
myVar = "Juan"
MYVAR = "Juan"
myvar2 = "Juan"

**Nombres de variables con varias palabras**

Los nombres de variables con más de una palabra pueden ser difíciles de leer.
Hay varias técnicas que puedes utilizar para hacerlos más legibles:


- **Camel case**

Cada palabra, excepto la primera, comienza con una letra mayúscula:

**myVariableName = "Juan"**

- **Pascal case**

Cada palabra comienza con una letra mayúscula:

**MyVariableName = "Juan"**

- **Snake case**

Cada palabra está separada por un carácter de subrayado:

**mi_variable_name = "Juan"**

# Asignación de multiples valores a múltiples variables

In [ ]:
x, y, z = "Manzana", "Naranja", "Mango"

In [ ]:
print(x)
print(y)
print(z)

Manzana
Naranja
Mango

## Asignación de un valor a múltiples variables

In [ ]:
x=y=z="Manzana"

In [ ]:
print(x)
print(y)
print(z)

Manzana
Manzana
Manzana

# **Operadores en python**

Python divide los operadores en los siguientes grupos:

- Operadores aritméticos
- Operadores de asignación
- Operadores de comparación
- Operadores lógicos
- Operadores de identidad
- Operadores de pertenencia
- Operadores a nivel de bits

## Operadores aritméticos

Los operadores aritméticos se utilizan con valores numéricos para realizar operaciones matemáticas comunes:

Operador  | Nombre          | Ejemplo
      --- |  ---            | ---
+         | Adición         | x + y
-         | Sustracción     | x - y
*         | Multiplicación  | x * y
/         | Division        | x / y
%         | Módulo          | x % y
**        | Exponente       | x \** y
//        | División entero | x // y

## Operadores de asignación

Los operadores de asignación se utilizan para asignar valores a las variables:

Operador  | Ejemplo          | Lo mismo que
      --- |  ---             | ---
  =       | x = 5            | x = 5
+=        | x += 3           | x = x + 3
-=        | x -= 3           | x = x - 3
*=        | x *= 3           | x = x * 3
/=        | x /= 3           | x = x / 3
%=        | x %= 3           | x = x % 3
//=       | x //= 3          | x = x // 3
**=       | x **= 3          | x = x ** 3
&=        | x &= 3           | x = x & 3
\|=       | x \|= 3          | x = x \| 3
^=        | x ^= 3           | x = x ^ 3
>>=       | x >>= 3          | x = x >> 3
<<=       | x <<= 3          | x = x << 3

## Operadores de Identidad

Los operadores de identidad se utilizan para comparar los objetos, no si son iguales, sino si son realmente el mismo objeto, con la misma ubicación de memoria:

Operador  | Nombre                                                    | Ejemplo
      --- |  ---                                                      | ---
  is      | Devuelve True si ambas variables son el mismo objeto      | x is y
  is not  | Devuelve False si ambas variables no son el mismo objeto  | x is not y

## Operadores de pertenencia

Los operadores de pertenencia se utilizan para comprobar si una secuencia se presenta en un objeto:

Operador  | Nombre                                                    | Ejemplo
      --- |  ---                                                      | ---
   in     | Devuelve True si una secuencia con el valor especificado está presente en el objeto  |  x in y
   not in | Devuelve False si una secuencia con el valor especificado no está presente en el objeto  |  x not in y

## Operadores de comparación

Los operadores de comparación se utilizan para comparar dos valores:

Operador  | Nombre                                                    | Ejemplo
      --- |  ---                                                      | ---
==        | Igual                                                     | x == y
!=        | No es igual                                               | x != y
>         | Mayor que                                                 | x > y
<         | Menor que                                                 | x < y
>=        | Mayor o igual que                                         | x >= y
<=        | Menor o igual que                                         | x <= y

## Operadores lógicos

Los operadores lógicos se utilizan para combinar sentencias condicionales:

Operador  | Nombre                                                    | Ejemplo
      --- |  ---                                                      | ---
and       | Devuelve True si ambas expresiones son verdaderas        | x < 5 and x < 10
or        | Devuelve True si una de ambas expresiones es verdaderas  | x < 5 or x < 4
not       | Invierte el resultado, devuelve Falso si el resultado es verdadero | not(x < 5 and x < 10)

## Operadores de bit a bit

Los operadores bit a bit se utilizan para comparar números (binarios):

  Operador  | Nombre                                              | Ejemplo
      --- |  ---                                                  | ---
&         |  AND                                                  | Establece cada bit a 1 si ambos bits son 1
 | OR                                                    | Establece cada bit a 1 si uno de ambos bits es 1
^         | XOR                                                   | Establece cada bit a 1 si solo uno de ambos bits es 1
~         | NOT                                                   | Invierte todos los bits
<<        | Cero relleno a la izquierda                           | Desplazamiento a la izquierda empujando ceros desde la derecha y dejando caer los bits más a la izquierda de
>>        | Cambio de signo a la derecha                          |  Desplazar a la derecha empujando copias del bit más a la izquierda desde la izquierda, y dejar los bits más a la derecha

## Tipos de datos 

Las variables pueden almacenar datos de diferentes tipos, y diferentes tipos pueden hacer diferentes cosas.
Python tiene los siguientes tipos de datos incorporados por defecto, en estas categorías:

 Descripción  | Tipo  |                                           
      ---     |  ---    |                                              
Tipo texto    | str   |
Tipo numérico | int, float, complex|
Tipo secuencia| list, tuple, range |
Tipo mapeo    | dict
Tipo conjunto | set, frozenset
Tipo booleano | bool
Binary types  | bytes, bytearray, memoryview



You can get the data type of any object by using the type() function:

In [1]:
# Ejemplo
x = 5
print(type(x))

<class 'int'>

En Python, el tipo de datos se establece cuando se asigna un valor a una variable:

Ejemplo                     |                 Tipo                                               
      ---                  |  ---    | 
x = "Hello World"          | str     |
x = 20                            | int
x = 20.5                          | float
x = 1j                            | complex
x = ["apple", "banana", "cherry"] | list
x = ("apple", "banana", "cherry") | tuple
x = range(6)                      | range
x = {"name" : "John", "age" : 36} | dict
x = {"apple", "banana", "cherry"} | set
x = frozenset({"apple", "banana", "cherry"}) | frozenset
x = True                                     | bool
x = b"Hello"                                 | bytes
x = bytearray(5)                             | bytearray
x = memoryview(bytes(5))                     | memoryview

In [2]:
# Ejemplos
x = 1 # int
y = 2.8 # float
z = 1j # complex

In [3]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**Int**

Int, es un número entero, positivo o negativo, sin decimales, de
longitud ilimitada.

In [4]:
# ejemplos
x = 1
y = 35656222554887711
z = -3255522

In [5]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**Float**

Número de punto flotante es un número, positivo o negativo que contiene uno o más decimales.

In [6]:
x = 1.10
y = 1.0
z = -35.59

In [7]:
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Complejos**

Los números complejos se escriben con una "j" como parte imaginaria:

In [8]:
x = 3+5j
y = 5j
z = -5j

In [9]:
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Conversión**

Se puede convertir de un tipo a otro con los métodos int(), float() y
complex():

In [10]:
x = 1 # int
y = 2.8 # float
z = 1j # complex

In [11]:
# Convierte a flotante 
a = float(x)
# Convierte a entero
b = int(y)
# Convierte a complejo
c = complex(x)

In [12]:
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'int'>
<class 'complex'>

**Strings**

Las cadenas en python se rodean de comillas simples o dobles comillas.

'hello' es lo mismo que "hello".

Puedes mostrar un literal de cadena con la función print():

In [13]:
print("Hello")
print('Hello')

Hello
Hello